/* common styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    position: absolute;
}
/* header styles ----------------------------------------------------------------------------------*/
header{
    display: flex;
    justify-content: space-between;
}
header h3{
    margin-top: 50px;
    margin-left: 120px;
    font-size: 24px;
    line-height: 36px;
}
header nav{
    margin-top: 55px;
    margin-right: 120px;
    font-size: 16px;
    line-height: 24px;
}
header nav a{
    text-decoration: none;
    color: black;
    margin-right: 34px;
}
header nav a:hover{
    border: purple 3px solid;
    color: purple;
    border-radius: 7px;
}
/* main style -----------------------------------------------------------------------------------*/
.double-flex-section{
    display: flex;
    margin-top: 68px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
}

.heading{
    font-size: 34px;
    line-height: 70px;
    margin-bottom: 2px;
}
#image-organizing-one{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
}
#image-organizing-one img{
    overflow: visible;
    height: 414px; 
    width: 440px;
    transition: transform 1s;
}
#image-organizing-one img:hover{
    transform: scale(1.2);
}
.button{
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 15px 23px;
    border-radius: 88px;
    font-size: 16px;
}
.button:hover{
    background-color: white;
    border: purple 3px solid;
    color: purple;
}
.fa-hand-point-right{
    margin-left: 6px;
}
.popular-collection{
    margin-left: 122px;
    margin-right: 65px;
}
.heading-moderate{
    font-weight: 600px;
    font-size: 28px;
    line-height: 70px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.collection{
    margin-left: 10px;
    margin-bottom: 26px;
    box-shadow: 0px 0px 10px;
    width: 329px;
    height: 476px;
    border-radius: 20px;
}
.collection-images{
    width: 300px;
    height: 256px;
    margin-left: 14px;
    margin-top: 16px;
}
.collection-images img{
    border-radius: 20px;
}
.collection-info h2, p{
    margin-bottom: 0;
    margin-top: 2px;
}
.fa-star{
    color: gold;
}
.empty{
    color: gray;
}
.info-lines{
    margin-top: 15px;
}
#see-more{
    text-align: end;
}
#see-more a{
    text-decoration: none;
    color: purple;
    font-weight: 900;
}
#image-organizing-two{
    margin-right: 30px;
}
/* footer style ------------------------------------------------------------------------------------*/
#footer-style{
    color: white;
    background-color: purple;
    padding: 5px 100px;
    text-align: center;
}
#social-icon{
    margin-top: 20px;
    margin-bottom: 38px;
    font-size: 30px;
}
#social-icon i:hover{
    background-color: white;
    color: purple;
}
#heading-footer{
    margin-top: 48px
}
/* media qurery */
/* mobile devices */
@media only screen and (max-width: 688px) {
    header nav{
        display: none;
    }
    header h3{
        display: block;
        margin-left: 39%;
        font-size: 16px;
    }
    .double-flex-section{
        display: block;
        text-align: center;
    }
    /* #image-organizing-one{
        height: 257px;
        width: 257px;
    } */
    #image-organizing-one img{
        margin-left: -22%;
    }
    .collections{
        margin: 0%;
    }
}
/* tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    header nav{
        display: none;
    }
    header h3{
        display: block;
        margin-left: 39%;
        font-size: 16px;
    }
    .double-flex-section{
        display: block;
        text-align: center;
    }
    #image-organizing-two{
        margin-left: 15%;
    }
    #image-organizing-one{
        margin-top: 34px;
        margin-left: 19%;
    }
    #image-organizing-one img{
        margin-right: 22%;
    }
    .collections{
        display: block;
        margin-left: 29%;
    }
}